{% if splunk_passwords is defined -%}
{%   for user in splunk_passwords.keys() %}
[credential::{{ user }}:]
{%   for key in splunk_passwords[user].keys() %}
{{ key }} = {{ splunk_passwords[user][key] }}
{%     endfor %}

{%   endfor %}
{% endif %}